 <link rel="stylesheet" type="text/css" href="/styles.css">
 
 <div>
        <a href="/">
          Return to Homepage
        </a>
      </div>
<br>
      <div>
      <div>
        <a href="/shelters">
          See Our Shelters
        </a>
      </div>

<div>
  <div>
    <h1>
      Our Available Dogs
    </h1>

    
 <% @list_of_dogs.each do |dog| %>
  <!-- Add the class 'dog-listing' to each dog's div -->
  <div class="dog-listing" style="text-align: center;">
    <a href="/dogs/<%= dog.id %>">
      <h2><%= dog.name %></h2>
    </a>
    <img src="/images/<%= dog.name.gsub(' ', '_') %>.jpg" alt="<%= dog.name %>"style="width: 300px; height: auto;"
>
  </div>
<% end %>

  </div>
</div>

<hr>

<div>
  <div>
     <h2 style="text-align: center;">
      Add a new dog
    </h2>

    <form action="/insert_dog" method="post">
      <div style="text-align: center;">
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="name">
      </div>

    <div style="text-align: center;">
        <label for="breed_box">
          Breed
        </label>

        <input type="text" id="breed_box" name="breed">
      </div>

      <div style="text-align: center;">
        <label for="age_box">
          Age
        </label>

        <input type="text" id="age_box" name="age">
      </div>

     <div style="text-align: center;">
        <label for="bio_box">
          Bio
        </label>

        <input type="text" id="bio_box" name="bio">
      </div>

     <div style="text-align: center;">
        <label for="shelter_id_box">
          Shelter
        </label>

        <input type="text" id="shelter_id_box" name="shelter_id">
      </div>

     <div style="text-align: center;">
        <label for="gender_box">
          Gender
        </label>

        <input type="text" id="gender_box" name="gender">
      </div>

      <div style="text-align: center;">
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="owner_id">
      </div>

     <div style="text-align: center;">
        <label for="picture_box">
          Picture
        </label>

        <input type="text" id="picture_box" name="picture">
      </div>

      <div style="text-align: center;">
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="status">
      </div>

      <button type="submit" style="display: block; margin-left: auto; margin-right: auto;">
        Create dog
      </button>

      
    </form>
  </div>
</div>
