 <link rel="stylesheet" type="text/css" href="/styles.css">
 
 <div>
        <a href="/">
          Return to Homepage
        </a>
      </div>
<br>
      <div>
      <div>
        <a href="/shelters">
          Go to Shelters
        </a>
      </div>

<div>
  <div>
    <h1>
      Our Available Dogs
    </h1>

    

 <% @list_of_dogs.each do |dog| %>
  <!-- Add the class 'dog-listing' to each dog's div -->
  <div class="dog-listing">
    <a href="/dogs/<%= dog.id %>">
      <h2><%= dog.name %></h2>
    </a>
    <img src="/images/<%= dog.name.gsub(' ', '_') %>.jpg" alt="<%= dog.name %>">
  </div>
<% end %>

  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new dog
    </h2>

    <form action="/insert_dog" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="name">
      </div>

      <div>
        <label for="breed_box">
          Breed
        </label>

        <input type="text" id="breed_box" name="breed">
      </div>

      <div>
        <label for="age_box">
          Age
        </label>

        <input type="text" id="age_box" name="age">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <input type="text" id="bio_box" name="bio">
      </div>

      <div>
        <label for="shelter_id_box">
          Shelter
        </label>

        <input type="text" id="shelter_id_box" name="shelter_id">
      </div>

      <div>
        <label for="gender_box">
          Gender
        </label>

        <input type="text" id="gender_box" name="gender">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="owner_id">
      </div>

      <div>
        <label for="picture_box">
          Picture
        </label>

        <input type="text" id="picture_box" name="picture">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="status">
      </div>

      <button>
        Create dog
      </button>
    </form>
  </div>
</div>
