<h1>
U2DRescue
<br> 
<br> 
Connecting you to shelters with animals in need

  <br> 
  <br> 

Click <a href="/shelters">here</a> to see our participating shelters. 

 <br> 
  <br> 

Click <a href="/dogs">here</a> to see our list of dogs available across all shelters. 

</h1>

<td>
          <img src="/images/rescue.jpg">
        </td>
