<h1>
  Welcome to U2DRescue!
<br> 
<br> 
  This is an app that connects you to shelters with animals in need.

  <br> 
  <br> 

Click <a href="/shelters">the link</a> to see our participating shelters. 
</h1>
