<link rel="stylesheet" type="text/css" href="/styles.css">

<% if flash[:alert] %>
  <script>alert('<%= flash[:alert] %>');</script>
<% end %>

<style>
  .centered-form {
    text-align: center;
    margin-top: 20px;
  }
  .form-input {
    width: 200px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    margin-bottom: 10px; /* Space below each input field */
  }
  .centered-form label {
    display: block;
    margin-bottom: 5px; /* Space below each label */
  }
  .centered-form button {
    width: 200px;
    display: block;
    margin: 10px auto; /* Center the button horizontally */
  }
</style>

<h1>
U2DRescue
<br> 
<br> 
Connecting you to shelters with animals in need
</h1>

<% if session.key?('user_id') %>
  <!-- Display this content only if the user is logged in -->
  <a href="/shelters">Participating Shelters</a>
  <br> 
  <br> 
  <a href="/dogs">Available Dogs</a> 
  <br>
  <br>
  <a href="/logout">Logout</a>
<% else %>
  <!-- Display the login form if the user is not logged in -->

 <div class="centered-form">
  <form action="/login" method="post">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required style="width: 200px; height: 20px;">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required style="width: 200px; height: 20px;">
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
 <a href="/sign_up" class="btn">Sign Up</a>
  </div>
<% end %>

<td>
  <img src="/images/rescue.jpg">
</td>
