<h1>
  Welcome to U2DRescue!
<br> 
<br> 
  This is an app that connects you to shelters with animals in need.

  <br> 
  <br> 

Click <a href="/shelters">here</a> to see our participating shelters. 

 <br> 
  <br> 

Click <a href="/dogs">here</a> to see our list of dogs available across all shelters. 

</h1>
